<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
    <h1> TEXT UTILS</h1>
    <h4>Enter the text Below:</h4>
    <form action='/analyze' method='get'>
        <textarea name='text' style="width: 452px; height: 147px;"></textarea>
        <br><input type="checkbox" name="removepunc">Remove punctions
        <br><input type="checkbox" name="capfirst">Capitalize the Charcters
        <br><input type="checkbox" name="newlineremover">New Line Remover
        <br><input type="checkbox" name="spaceremover">Space Remover
        <br><input type="checkbox" name="charcounter">Number of Charcters
        <br><button type="submit"> Analyzed Text</button>
    </form>


</body>
</html>